<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="pkg.what.a_6">

    <dist:module
        dist:instant="false"
        dist:title="@string/module_a6">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application
        tools:ignore="AllowBackup,MissingApplicationIcon"
        android:hardwareAccelerated="true">
        <activity android:name="pkg.what.a_6.ViewA6"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.View" />
            </intent-filter>
        </activity>
        <activity
            android:name="pkg.what.a_6.ViewRegularAlertDetailsActivity"
            android:parentActivityName="pkg.what.a_6.ViewA6"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.View" />
            </intent-filter>
        </activity>
        <activity
            android:name="pkg.what.a_6.ViewSpecialAlertDetailsActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.View" />
            </intent-filter>
        </activity>
    </application>
</manifest>